# 네이버 뉴스 데이터 수집을 위해
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# 라우터 및 fallback 처리를 위해
GOOGLE_MODEL=
GOOGLE_API_KEY=

# src/model/rag/baseline.py에 평가 부분에 필요함
LANGSMITH_API_KEY=
LANGSMITH_TRACING=
LANGSMITH_PROJECT=

